.detail {
    width: 100%;
    height: 100%;
    background-color: #fffdfd;
    align-content: center;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}
.img {
    margin: auto;
    width: 500px;
    height: 500px;
}

.button {
    background-color: rgb(254, 132, 51);
    width: 100px;
    height: 30px;
}

.detail{
    text-align: center;
}

.h1 {
    text-align: right; /* 텍스트를 오른쪽으로 정렬 */
    margin: 0;
}

.h2 {
    text-align: right; /* 텍스트를 오른쪽으로 정렬 */
    margin: 0;

}


.p {
    font-size: 16px;
    line-height: 1.5;

}

.description-heading {
    text-align: center;
    margin: 0;
}